# Node modules
node_modules/
frontend/node_modules/
backend/node_modules/

# Build folders
.next/
dist/
build/

# Env files
.env
.env.local

# Logs
npm-debug.log*

/**/venv
/**/__pycache__